<!DOCTYPE html>
<html>
<body>

<h1>{{ title }}</h1>

<p>version: {{ version }}</p>

<h1>Libraries</h1>

<ul>
{% for library in libraries %}
    <li>{{ library }}</li>
{% endfor %}
</ul>

<h1>Performance Results</h1>

<table border="1">
    <tr>
        <th>Library</th>
        <th>GFLOP/s</th>
    </tr>

    {% for result in results %}
    <tr>
        <td>{{ result.library }}</td>
        <td>{{ result.gflops }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{{ url_for('help') }}">Help</a>

</body>
</html>